/* base.css */
body {
    background-color: #F4F2EE;
    font-family: "Roboto", sans-serif;
}

h1 {
    color: #093366;
    font-size: 3em;
    padding: 1.2rem 0;
    font-weight: bold;
}

.text-title {
    padding: 0 1rem !important;
}


