
@media only screen and (max-width: 2560px) and (min-width:1441px){
    .text-box__translated{
        justify-content: left;
    }
}

@media only screen and (max-width: 1024px) {
    .text-box__translated {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 0;
        margin: 0 10rem;

    }

    .icon-logo {
        padding: 0.5rem 0.5rem 0.5rem 12rem;
    }

    .lang-opt {
        width: 38.8rem;
    }

}

@media only screen and (max-width: 1012px) {
    .text-box__translated {
        margin: 0 2rem;
    }

    .icon-logo {
        padding: 0.5rem 0.5rem 0.5rem 4rem;
    }

    #btn-listen__audio {
        width: 4em;
        height: 0.8em;
    }


}

/*@media only screen and (max-width: 425px) {
    .text-box__translated {
        margin: 0 0.2em;
    }
    
    h1{
        font-size: 2.2rem;
    }

    .icon-logo {
        width: 3rem;
        height: 3rem;
        padding: 0.5rem 0.5rem 0.5rem 2rem;
    }

    .lang-opt {
        width: 22rem;
    }

    .text-box__original-text textarea {
        width: 20rem;
        height: 15rem;
    }

    #btn-translate-txt{
        margin-left: 14.5rem;
    }

}*/


@media only screen and (max-width: 430px) {

    .icon-logo{
        padding: 0.5rem 0.5rem 0.5rem 2rem;
    }

    h1 {
        font-size: 2.3em;
        padding: 1rem 0.5rem;
    }

    #btn-translate-txt{
        margin-left: 12.5rem;
    }

    .text-box__translated {
        margin: 0 0.1em;
    }

    .text-box__original-text {
        margin: 0 1.5em;
    }

    .lang-opt {
        width: 20rem;
    }

    .text-box__original-text textarea {
        width: 18rem;
        height: 13rem;
    }
}

@media only screen and (max-width: 320px) {

    h1 {
        font-size: 1.8em;
        padding: 1rem;
    }

    .lang-opt {
        width: 17rem;
    }

    #btn-listen__audio {
        width: 3em;
        height: 0.8em;
        font-size: small;
    }

    .heading-text-area {
        font-size: small;
    }

    #original_language,
    #translated_language {
        font-size: xx-small;
    }

    #btn-translate-txt{
        margin-left: 9.2rem;
    }

    .text-box__original-text textarea {
        width: 15rem;
    }
}